<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="India's best car service portal online">
    <meta name="author" content="Naman Singhal">
    <meta name="keywords" content="car, service, India, Garage, Online, car monkey, project, html, css,">
    <title>CAR-MONKEY - Car Service</title>
    <link rel="icon" type="image/x-icon" href="logo.png" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="navbar.css">

</head>
<body>
    
    <main id="myMAIN">
        
        <div class = "main_nav">
            <nav id="sub_nav">
                <div class="mynav">
                    <a href="loginPage">LOGIN</a>
                    <a href="#foot">CONTACT ME</a>
                    <a href="loginPage">BOOK A SERVICE</a>
                </div>
                <div class="logo">
                        <a href="/"><img src="logo.png" alt="Logo" width="50px"></a>
                        <p class="car-monkey">
                            <a href="/"><b>C<span class="orange">A</span>R M<span class="orange">O</span>NKEY</b></a>
                        </p>
                </div>
            </nav>    
        </div>

        <div id="bg">
            <div class="introTag">
                <p class="head"><b>Ready to Serve Your Car!!</b></p>
                <span id="sub_head"><p>#Apki<span class="orange">CAR</span>KaDoctor</p></span>
                <span class="head2"><p>Free Pickup - Delivery, Fair Prices, Genuine Parts. </p></span>
                <a href="loginPage" class="button">BOOK NOW</a>

            </div>
        </div>
        <div class="img">
            <img src="book.png" alt="book">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="pickup.png" alt="pickup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="service.jpg" alt="service">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="give_key.png" alt="drop">
        </div>
        <div class="process">
            <p>BOOK<img src="arrow.png">WE PICKUP<img src="arrow.png">SERVICE<img src="arrow.png">DROP</p>
            <br/>
            <br/>
            <br/>
        </div>
        <div id="button2">
            <a href="loginPage" class="button">BOOK A SERVICE</a>
        </div>
    </main>
    
    <footer id="foot">
        <div class="foot_logo" title="CARMONKEY">
            <img src="logo.png" alt="CAR MONKEY" width="250px"><br/>
        </div>
        <div class="contact">
            <span class="head_foot"><p><b>CONTACT</b></p></span>
            <h1>Say Hello!!</h1>
            <h4>I would love to hear from you. Feel free to drop a Hi through any of these channels.</h4>
        </div>

                <div class="lin">
                    <a href="https://www.linkedin.com/in/namansnghl/" title="LinkedIn" target="_blank"><img src="linkedin.png" alt="Linkedin" width="80px"><br></a>
                </div>
                <div class="messenger">
                        <a href="https://www.m.me/namansnghl" title="Facebook Messenger" target="_blank"><img src="messenger.png" alt="Messenger" width="80px"></a>
                </div>
                <h4 class="contact">Liked my content? Then check out my GitHub for more</h4>
                <div class="git">
                        <a href="https://github.com/namansnghl" title="My GitHub" target="_blank"><img src="github2.png" alt="GitHub" width="80px"></a>
                </div>
                <h3 style="color:rgba(255, 255, 255, 0.603); text-align:center;">Author - Naman Singhal<br/>(SEP - 2019)</h3>
            </footer>
</body>
</html>